html,
body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  @extend %rubik-500;
}

.main{
  flex-grow: 1;
}

.container-large{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a{
  color: $footer-link-default;
  font-size: 14px;
  line-height: 32px;
  @extend %rubik-400;
}

.breadcrumbs{
  display: inline-flex;
  justify-content: center;
  &__list{
    display: flex;
  }
  &__item{
    color: #737980;
    padding-right: 20px;
    position: relative;
    &::after{
      content: "/";
      position: absolute;
      width: 7px;
      height: 13px;
      top: 4px;
      right: 7px;
    }
    &:last-child{
      padding-right: 0;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
  }
}

.pagination{
  padding-top: 70px;
  &__list{
    display: flex;
    margin-right: 15px;
  }
  &__link{
    padding: 17px 20px;
    border: 1px solid #a3bbc8;
    color: #243f4d;
  }
  &__link--active{
    background-color: #a3bbc8;
    color: #fff;
  }
  &__item + .pagination__item{
    margin-left: 15px;
  }
  &__next-link{
    padding: 9px 18px 9px 20px;
    border: 1px solid #a3bbc8;
    color: #243f4d;
  }
}