html,
body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 26px;
  @extend %rubik-500;
}

.main{
  flex-grow: 1;
}

.container-large{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a{
  color: $footer-link-default;
  font-size: 14px;
  line-height: 32px;
  @extend %rubik-400;
}

.breadcrumbs{
  display: inline-flex;
  justify-content: center;
  &__list{
    display: flex;
  }
  &__item{
    color: #737980;
    padding-right: 20px;
    position: relative;
    &::after{
      content: "/";
      position: absolute;
      width: 7px;
      height: 13px;
      top: 4px;
      right: 7px;
    }
    &:last-child{
      padding-right: 0;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
  }
}