@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 40px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo{
  display: flex;
  align-items: center;
  &__text{
    padding-left: 15px;
    font-size: 36px;
    line-height: 58px;
    color: $accent;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 35px;
  }
  &__list-link{
    font-size: 15px;
    line-height: 12px;
    color: $accent;
  }
}

.user-nav{
  display: flex;
  &__finder{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;
    margin-right: 25px;
  }
  &__profile{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #a3bbc8;
    border-radius: 50%;
  }
  &__finder img,
  &__profile img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__box{
    display: flex;
    align-items: center;
    margin-right: 25px;
    border-radius: 50px;
    padding: 0 22px;
    background-color: #fcd7b6;
    position: relative;
  }
  &__box-inner{
    position: relative;
    margin: 0 9px;
  }
  &__box-inner + .user-nav__box-inner::before{
    content: "";
    height: 32px;
    width: 1px;
    background-color: #fde7d3;
    position: absolute;
    top: 8px;
    right: 55px;
  }
  &__link-img{
    margin: 0 auto;
    padding: 16px;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 7px;
    right: 6px;
    text-align: center;
    font-size: 10px;
    line-height: 17px;
    color: #243f4d;
    background-color: #fff;
    @extend %dmsans-400;
  }
}

.footer-top{
  padding: 80px 0 75px;
  display: flex;
  border-bottom: 1px solid #dae4e9;
  &__logo{
    align-items: center;
    margin-bottom: 26px;
  }
  &__contacts{
    width: 270px;
    margin-right: 30px;
  }
  &__address,
  &__phone,
  &__email{
    display: block;
  }
  &__address,
  &__text{
    line-height: 24px;
    @extend %rubik-400;
    color: $footer-link-default;
    margin-bottom: 5px;
  }
  &__nav{
    width: 270px;
    margin-right: 30px;
  }
  &__title{
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
    margin-bottom: 27px;
    padding-top: 20px;
  }
  &__text{
    margin-bottom: 35px;
  }
  &__item-form{
    max-width: 270px;
  }
  &__form-input{
    width: 170px;
    border: none;
    background-color: #fef7f0;
    padding: 14px 10px 14px 10px;
    @extend %dmsans-400;
    font-size: 12px;
    &::placeholder{
      color: #234969;
    }
  }
  &__form-btn{
    padding: 14px 18px 14px 18px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
    @extend %dmsans-400;
    background-color: #a3bbc8;
    color: #fff;
    margin-left: -3px;
  }
}

.footer-bottom{
  padding: 35px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__copy{
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
    color: $footer-link-default;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item + .footer-bottom__item{
    padding-left: 15px;
  }
  &__item + .footer-bottom__item::before{
    content: "";
    padding-left: 15px;
    border-left: 1px solid $footer-link-default;
  }
}

.top-slider{
  &__inner{
    background-image: url('../images/top-slider-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 225px 0 75px;
  }
  &__item{
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__title{
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    max-width: 470px;
    margin-bottom: 40px;
  }
  &__text{
    font-size: 18px;
    line-height: 30px;
    color: $accent;
    @extend %rubik-400;
    margin-bottom: 40px;
  }
  &__link{
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    background-color: #a3bbc8;
    color: #fff;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    padding: 23px 18px 23px 25px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 205px;
    li{
      padding: 0 12px;
      button{
        padding: 0;
        font-size: 11px;
        line-height: 9px;
        background-color: #fde3cc;
        width: 29px;
        height: 29px;
        border: none;
        border-radius: 50%;
        color: #243f4d;
        @extend %rubik-500;
      }
      &.slick-active{
        button{
          background-color: #fff;
        }
      }
    }
  }
  &__bottom{
    background: #fef7f0;
  }
  &__bottom-items{
    display: flex;
    justify-content: space-around;
    position: relative;
  }
  &__bottom-item{
    display: flex;
    padding: 50px 0 45px;
    position: relative;
  }
  &__bottom-inner{
    margin-left: 25px;
  }
  &__bottom-title{
    font-size: 18px;
    margin-bottom: 10px;
    color: #414141;
  }
  &__bottom-text{
    max-width: 215px;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
  }
  &__bottom-item + .top-slider__bottom-item::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    left: -160px;
    background-color: #e8e4df;
  }
}

.products{
  padding: 75px 0 60px;
  &__title{
    text-align: center;
    font-size: 36px;
    color: #191919;
    @extend %dmsans-700;
    margin-bottom: 37px;
  }
  &__filter{
    display: flex;
    justify-content: center;
  }
  &__filter-btn{
    border: none;
    background-color: transparent;
    color: #8b8b8b;
    @extend %dmsans-700;
    margin-bottom: 82px;
  }
  &__filter-btn + .products__filter-btn{
    margin-left: 20px;
  }
  &__filter-btn:active{
    color: #292929;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 28px;
    margin-bottom: 12px;
  }
  &__item{
    height: 380px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }
  &__item-img{
    margin-top: 27px;
  }
  &__item-content{
    text-align: center;
  }
  &__item-title{
    color: #243f4d;
    @extend %dmsans-500;
  }
  &__item-price{
    color: #a3bbc8;
    @extend %dmsans-700;
  }
  &__item-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 270px;
    margin-bottom: 20px;
  }
  &__hover{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(300%);
    transition: all .3s;
  }
  &__hover-link{
    position: relative;
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    path{
      fill: #a8becb;
    }
  }
  &__hover-link{
    display: inherit;
    path{
      transition: all .3s;
    }
  }
  &__item:hover{
    .products__hover{
      transform: translateY(0);
    }
  }
  &__hover-link:hover{
    background-color: #a3bbc8;
    path{
      fill: #fff;
    }
  }
  &__hover-link svg{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__hover-link + .products__hover-link{
    margin-left: 16px;
  }
}


@import 'media';