@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  padding: 40px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo{
  display: flex;
  align-items: center;
  &__text{
    padding-left: 15px;
    font-size: 36px;
    line-height: 58px;
    color: $accent;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 35px;
  }
  &__list-link{
    font-size: 15px;
    line-height: 12px;
    color: $accent;
  }
}

.user-nav{
  display: flex;
  &__finder{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;
    margin-right: 25px;
  }
  &__profile{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #a3bbc8;
    border-radius: 50%;
  }
  &__finder img,
  &__profile img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__box{
    display: flex;
    align-items: center;
    margin-right: 25px;
    border-radius: 50px;
    padding: 0 22px;
    background-color: #fcd7b6;
    position: relative;
  }
  &__box-inner{
    position: relative;
    margin: 0 9px;
  }
  &__box-inner + .user-nav__box-inner::before{
    content: "";
    height: 32px;
    width: 1px;
    background-color: #fde7d3;
    position: absolute;
    top: 8px;
    right: 55px;
  }
  &__link-img{
    margin: 0 auto;
    padding: 16px;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 7px;
    right: 6px;
    text-align: center;
    font-size: 10px;
    line-height: 17px;
    color: #243f4d;
    background-color: #fff;
    @extend %dmsans-400;
  }
}

.footer-top{
  padding: 80px 0 75px;
  display: flex;
  border-bottom: 1px solid #dae4e9;
  &__logo{
    align-items: center;
    margin-bottom: 26px;
  }
  &__contacts{
    width: 270px;
    margin-right: 30px;
  }
  &__address,
  &__phone,
  &__email{
    display: block;
  }
  &__address,
  &__text{
    line-height: 24px;
    @extend %rubik-400;
    color: $footer-link-default;
    margin-bottom: 5px;
  }
  &__nav{
    width: 270px;
    margin-right: 30px;
  }
  &__title{
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
    margin-bottom: 27px;
    padding-top: 20px;
  }
  &__text{
    margin-bottom: 35px;
  }
  &__item-form{
    max-width: 270px;
  }
  &__form-input{
    width: 170px;
    border: none;
    background-color: #fef7f0;
    padding: 14px 10px 14px 10px;
    @extend %dmsans-400;
    font-size: 12px;
    &::placeholder{
      color: #234969;
    }
  }
  &__form-btn{
    padding: 14px 18px 14px 18px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
    @extend %dmsans-400;
    background-color: #a3bbc8;
    color: #fff;
    margin-left: -3px;
  }
}

.footer-bottom{
  padding: 35px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__copy{
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
    color: $footer-link-default;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item + .footer-bottom__item{
    padding-left: 15px;
  }
  &__item + .footer-bottom__item::before{
    content: "";
    padding-left: 15px;
    border-left: 1px solid $footer-link-default;
  }
}


@import 'media';