@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 40px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo{
  display: flex;
  align-items: center;
  &__text{
    padding-left: 15px;
    font-size: 36px;
    line-height: 58px;
    color: $accent;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 35px;
  }
  &__list-link{
    font-size: 15px;
    line-height: 12px;
    color: $accent;
  }
}

.user-nav{
  display: flex;
  &__finder{
    position: relative;
    min-width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;
    margin-right: 25px;
  }
  &__profile{
    position: relative;
    min-width: 50px;
    height: 50px;
    background-color: #a3bbc8;
    border-radius: 50%;
  }
  &__finder img,
  &__profile img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__box{
    display: flex;
    align-items: center;
    margin-right: 25px;
    border-radius: 50px;
    padding: 0 22px;
    background-color: #fcd7b6;
    position: relative;
  }
  &__box-inner{
    position: relative;
    margin: 0 9px;
  }
  &__box-inner + .user-nav__box-inner::before{
    content: "";
    height: 32px;
    width: 1px;
    background-color: #fde7d3;
    position: absolute;
    top: 8px;
    right: 55px;
  }
  &__link-img{
    margin: 0 auto;
    padding: 16px;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 7px;
    right: 6px;
    text-align: center;
    font-size: 10px;
    line-height: 17px;
    color: #243f4d;
    background-color: #fff;
    @extend %dmsans-400;
  }
}

.footer-top{
  padding: 80px 0 75px;
  display: flex;
  border-bottom: 1px solid #dae4e9;
  &__logo{
    align-items: center;
    margin-bottom: 26px;
  }
  &__contacts{
    width: 270px;
    margin-right: 30px;
  }
  &__address,
  &__phone,
  &__email{
    display: block;
  }
  &__address,
  &__text{
    line-height: 24px;
    @extend %rubik-400;
    color: $footer-link-default;
    margin-bottom: 5px;
  }
  &__nav{
    width: 270px;
    margin-right: 30px;
  }
  &__title{
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
    margin-bottom: 27px;
    padding-top: 20px;
  }
  &__text{
    margin-bottom: 35px;
  }
  &__item-form{
    max-width: 270px;
  }
  &__form{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__form-input{
    width: 170px;
    height: 40px;
    padding: 0 15px;
    border: none;
    background-color: #fef7f0;
    @extend %dmsans-400;
    font-size: 12px;
    &::placeholder{
      color: #234969;
    }
  }
  &__form-btn{
    height: 40px;
    padding: 0 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
    @extend %dmsans-400;
    background-color: #a3bbc8;
    color: #fff;
  }
}

.footer-bottom{
  padding: 35px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__copy{
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
    color: $footer-link-default;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item + .footer-bottom__item{
    padding-left: 15px;
  }
  &__item + .footer-bottom__item::before{
    content: "";
    padding-left: 15px;
    border-left: 1px solid $footer-link-default;
  }
}

.top-slider{
  &__inner{
    background-image: url('../images/top-slider-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 225px 0 75px;
  }
  &__item{
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__title{
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    max-width: 470px;
    margin-bottom: 40px;
  }
  &__text{
    font-size: 18px;
    line-height: 30px;
    color: $accent;
    @extend %rubik-400;
    margin-bottom: 40px;
  }
  &__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    background-color: #a3bbc8;
    color: #fff;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    padding: 23px 18px 23px 25px;
    path{
      fill: #fff;
    }
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 205px;
    li{
      padding: 0 12px;
      button{
        padding: 0;
        font-size: 11px;
        line-height: 9px;
        background-color: #fde3cc;
        width: 29px;
        height: 29px;
        border: none;
        border-radius: 50%;
        color: #243f4d;
        @extend %rubik-500;
      }
      &.slick-active{
        button{
          background-color: #fff;
        }
      }
    }
  }
  &__bottom{
    background: #fef7f0;
  }
  &__bottom-items{
    display: flex;
    justify-content: space-around;
    position: relative;
  }
  &__bottom-item{
    display: flex;
    padding: 50px 0 45px;
    position: relative;
  }
  &__bottom-inner{
    margin-left: 25px;
  }
  &__bottom-title{
    font-size: 18px;
    margin-bottom: 10px;
    color: #414141;
  }
  &__bottom-text{
    max-width: 215px;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
  }
  &__bottom-item + .top-slider__bottom-item::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    left: -160px;
    background-color: #e8e4df;
  }
}

.products{
  padding: 75px 0 50px;
  &__title{
    text-align: center;
    font-size: 36px;
    color: #191919;
    @extend %dmsans-700;
    margin-bottom: 37px;
  }
  &__filter{
    display: flex;
    justify-content: center;
  }
  &__filter-btn{
    border: none;
    background-color: transparent;
    color: #8b8b8b;
    @extend %dmsans-700;
    margin-bottom: 82px;
    cursor: pointer;
  }
  &__filter-btn + .products__filter-btn{
    margin-left: 20px;
  }
  &__filter-btn--active{
    color: #292929;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 28px;
    margin-bottom: 185px;
  }
  &__item{
    height: 380px;
    width: 270px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    &.products-item--list{
      display: block;
    }
  }
  &__item-img{
    margin-top: 27px;
  }
  &__item-content{
    text-align: center;
  }
  &__item-title{
    color: #243f4d;
    @extend %dmsans-500;
  }
  &__item-price{
    color: #a3bbc8;
    @extend %dmsans-700;
  }
  &__item-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 270px;
    margin-bottom: 20px;
  }
  &__hover{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(300%);
    transition: all .3s;
  }
  &__hover-link{
    position: relative;
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    path{
      fill: #a8becb;
    }
  }
  &__hover-link{
    display: inherit;
    path{
      transition: all .3s;
    }
  }
  &__item:hover{
    .products__hover{
      transform: translateY(0);
    }
  }
  &__hover-link:hover{
    background-color: #a3bbc8;
    path{
      fill: #fff;
    }
  }
  &__hover-link svg{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__hover-link + .products__hover-link{
    margin-left: 16px;
  }
}

.products-content{
  display: flex;
  justify-content: space-between;
  &__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 870px;
    height: 390px;
    background-color: #feefe2;
  }
  &__inner-img{
    margin-top: -185px;
  }
  &__info{
    max-width: 340px;
    margin-left: 20px;
    color: #243f4d;
  }
  &__info-title{
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 15px;
    @extend %dmsans-700;
  }
  &__info-text{
    line-height: 30px;
    @extend %rubik-400;
    margin-bottom: 25px;
  }
  &__info-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 180px;
    background-color: transparent;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    color: $accent;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    padding: 22px 20px;
    path{
      fill: $accent;
    }
  }
}

.design{
  padding: 50px 0 120px;
  &__title{
    text-align: center;
    font-size: 36px;
    color: #191919;
    @extend %dmsans-700;
    margin-bottom: 37px;
  }
  &__filter{
    display: flex;
    justify-content: center;
  }
  &__filter-btn{
    border: none;
    background-color: transparent;
    color: #8b8b8b;
    @extend %dmsans-700;
    margin-bottom: 82px;
    cursor: pointer;
  }
  &__filter-btn + .design__filter-btn{
    margin-left: 20px;
  }
  &__filter-btn--active{
    color: #292929;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 34px;
    grid-column-gap: 21px;
  }
  &__item{
    position: relative;
  }
  &__item-info{
    position: absolute;
    max-width: 180px;
    left: 38px;
    top: 42px;
  }
  &__item-title{
    color: $default;
    margin-bottom: 5px;
  }
  &__item-subtitle{
    color: #a9bfcb;
  }
}

.video{
  background-image: url('../images/video-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  &__link{
    cursor: pointer;
  }
}

.blog{
  padding: 120px 0 0;
  margin-bottom: -197px;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }
  &__top-title{
    font-size: 36px;
    color: #191919;
    @extend %dmsans-700;
  }
  &__team-title{
    color: #243f4d;
  }
  &__top-link{
    display: flex;
    align-items: center;
    color: #262626;
    @extend %dmsans-700;
    svg{
      margin-left: 18px;
    }
  }
  &__team-link{
    color: #243f4d;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &__item-top{
    position: relative;
    margin-bottom: 35px;
  }
  &__item-top::before{
    content: "News";
    position: absolute;
    bottom: 0;
    left: 28px;
    width: 110px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    border-radius: 20px;
    color: #fff;
    background-color: #a3bbc8;
    text-align: center;
    transform: translateY(50%);
    @extend %poppins-700;
  }
  &__item-bottom{
    max-width: 310px;
    height: 90px;
    margin-left: 30px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
  }
  &__item-text{
    font-size: 18px;
    line-height: 0;
    @extend %dmsans-500;
    color: #262626;
  }
  &__item-box{
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 12px;
    line-height: 30px;
    color: #222933;
    margin: 15px 0 25px;
  }
  &__item-date{
    margin-right: 30px;
  }
  &__item-author{
    color: #222933;
  }
  &__item-date,
  &__item-author{
    padding-left: 30px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 4px;
    }
  }
  &__item-date::before{
    background-image: url('../images/icons/time.svg');
  }
  &__item-author::before{
    background-image: url('../images/icons/user-grey.svg');
  }
  &__background{
    min-height: 197px;
    background-color: #fef7f0;
  }
}

.partners{
  background-color: #fef7f0;
  padding: 90px 0 90px;
  &__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.top{
  background-color: #edf1f4;
  min-height: 125px;
  &__content{
    text-align: center;
    padding: 35px;
  }
  &__title{
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 24px;
    @extend %rubik-400;
  }
}

.modal{
  padding: 120px 0 120px;
  &__form{
    width: 470px;
    margin: 0 auto;
  }
  &__label{
    display: block;
    font-size: 14px;
    color: #436372;
    margin-bottom: 30px;
  }
  &__input{
    width: 100%;
    height: 60px;
    border: 2px solid #f6f6f6;
    padding: 0 15px;
  }
  &__btn{
    width: 100%;
    padding: 20px 0;
    background-color: #a3bbc8;
    border: none;
    color: #fff;
    font-size: 18px;
    margin-bottom: 35px;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
    border-bottom: 2px solid #f6f6f6;
  }
  &__box-link{
    color: #436372;
  }
  span{
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #436372;
    margin-bottom: 25px;
  }
  &__link{
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    border: 2px solid #a3bbc8;
    font-size: 18px;
    color: #243f4d;
  }
}

.terms{
  padding-top: 120px;
  &__title,
  &__info{
    font-size: 24px;
    line-height: 40px;
    color: #243f4d;
    margin-bottom: 30px;
  }
  &__info{
    padding-top: 75px;
  }
  &__list{
    list-style-type: decimal-leading-zero;
    margin-left: 33px;
  }
  &__list-item,
  &__text{
    line-height: 30px;
    margin-bottom: 20px;
    color: #243f4d;
    @extend %rubik-400;
  }
}

.experience{
  padding: 120px 0;
  display: flex;
  &__img{
    width: 570px;
    height: 675px;
    margin-right: 45px;
  }
  &__info{
    padding-top: 85px;
    width: 550px;
  }
  &__info-box{
    display: flex;
    margin-bottom: 50px;
  }
  &__info-num{
    font-size: 140px;
    line-height: 32px;
    @extend %poppins-700;
    color: #a3bbc8;
    margin-right: 30px;
  }
  &__info-text{
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-top: -17px;
  }
  &__title{
    @extend %dmsans-700;
    color: #243f4d;
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 52px;
  }
  &__text{
    @extend %rubik-400;
    line-height: 30px;
    color: #243f4d;
    padding-bottom: 65px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      background-color: #ebeef3;
      height: 2px;
      width: 500px;
      bottom: 0;
      left: 0;
    }
  }
  &__items{
    padding-top: 40px;
    display: flex;
  }
  &__item{
    display: flex;
  }
  &__item + .experience__item{
    margin-left: 55px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      width: 1px;
      height: 80px;
      background-color: #e6eaf0;
      left: -25px;
      top: -8px;
    }
  }
  &__item-box{
    @extend %dmsans-700;
    padding-left: 20px;
  }
  &__item-title{
    font-size: 36px;
    line-height: 38px;
    color: #243f4d;
    margin-bottom: 5px;
  }
  &__item-text{
    line-height: 17px;
    color: #4c4c4c;
  }
}

.rating{
  background-color: #fcd7b6;
  &__items{
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
  }
  &__item{
    text-align: center;
  }
  &__img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 25px;
    width: 70px;
    height: 64px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      width: 33px;
      height: 33px;
      border-radius: 50%;
      background-color: #a3bbc8;
      opacity: 0.5;
      bottom: 2px;
      right: -4px;
    }
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    color: #243f4d;
    margin-bottom: 25px;
  }
  &__text{
    @extend %dmsans-700;
    font-size: 18px;
    color: #243f4d;
  }
}

.team{
  padding: 120px 0 63px;
  &__content{
    display: flex;
    justify-content: space-between;
  }
  &__info{
    max-width: 320px;
    margin-right: 80px;
  }
  &__info-title{
    font-size: 36px;
    line-height: 32px;
    @extend %dmsans-700;
    color: #243f4d;
    margin-bottom: 36px;
  }
  &__info-text{
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    color: #243f4d;
    width: 290px;
    margin-bottom: 40px;
  }
  &__info-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a3bbc8;
    width: 170px;
    padding: 0 25px 0 17px;
    color: #fff;
    font-size: 15px;
    line-height: 55px;
    @extend %poppins-700;
    border-radius: 5px;
  }
  &__items{
    width: 770px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 100px;
    grid-column-gap: 30px;
  }
  &__item{
    position: relative;
  }
  &__item-info{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    bottom: -63px;
    left: 0;
    width: 325px;
    height: 110px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  }
  &__item-box{
    margin-left: 25px;
  }
  &__item-name{
    color: $accent;
    font-size: 22px;
    line-height: 26px;
    @extend %dmsans-700;
    margin-bottom: 10px;
  }
  &__item-position{
    line-height: 30px;
    color: #565872;
    @extend %rubik-400;
  }
  &__item-social{
    display: flex;
    margin-right: 14px;
  }
  &__item-link{
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border-radius: 50%;
    margin-right: 6px;
    position: relative;
  }
  &__item-link img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.product-grid{
  padding: 120px 0;
  &__inner{
    display: flex;
  }
  &__filters{
    min-width: 270px;
    margin-right: 30px;
  }
  &__content{
    .pagination{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__content-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .products__item{
      margin-bottom: 40px;
    }
  }
}

.filter{
  &__item{
    margin-bottom: 70px;
  }
  &__title{
    margin-bottom: 30px;
    font-size: 18px;
    @extend %dmsans-700;
    color: #243f4d;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
      &::after{
      content: "";
      position: absolute;
      width: 38px;
      height: 3px;
      background-color: #a3bbc8;
      top: 10px;
      right: -55px;
    }
  }
}

.filter-category{
  &__label{
    cursor: pointer;
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox{
      background-color: #edf1f4;
    }
  }
  &__checkbox{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 15px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  span{
    @extend %rubik-400;
    color: #243f4d;
  }
}

.filter-price{
  &__label{
    display: flex;
    justify-content: space-between;
    color: #243f4d;
    font-size: 14px;
    line-height: 43px;
    @extend %rubik-400;
  }
}

.irs--flat {
  height: 30px;
}

.irs--flat .irs-line {
  top: 6px;
  height: 3px;
  background-color: #c2d2db;
  border-radius: 0;
}

.irs--flat .irs-handle {
  top: 0;
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
}

.irs--flat .irs-bar {
  top: 6px;
  height: 3px;
  background-color: #a3bbc8;
}

.irs--flat .irs-handle>i:first-child{
  display: none;
}

.irs-from, .irs-to, .irs-single{
  display: none;
}

.irs--flat .irs-min, .irs--flat .irs-max {
  display: none;
}

.filter-brand{
  &__label{
    cursor: pointer;
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox{
      background-color: #edf1f4;
    }
  }
  &__checkbox{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 15px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  span{
    @extend %rubik-400;
    color: #243f4d;
  }
}

.filter-products{
  &__content{
    display: flex;
    margin-bottom: 25px;
  }
  &__link{
    margin-right: 20px;
  }
  &__box-name{
    color: #333333;
    font-size: 14px;
    @extend %rubik-400;
  }
  &__box-price{
    color: #333333;
    font-size: 15px;
    @extend %rubik-400;
  }
}

.jq-ry-container {
  padding: 0;
  margin: 5px 0;
}

.product-list{
  padding: 120px 0;
  &__inner{
    display: flex;
  }
  &__filters{
    min-width: 270px;
    margin-right: 30px;
  }
  &__content{
    .pagination{
      display: flex;
      justify-content: start;
      align-items: center;
    }
  }
  &__item{
    display: flex;
    & + .product-list__item{
      margin-top: 40px;
    }
  }
  &__image{
    min-width: 370px;
    height: 500px;
    border: 2px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 55px;
  }
  &__name{
    font-size: 40px;
    color: #333333;
    @extend %rubik-400;
    margin: 90px 0 25px;
  }
  &__price{
    font-size: 30px;
    display: block;
    color: #333333;
    @extend %rubik-400;
    margin-bottom: 40px;
  }
  &__text{
    color: #243f4d;
    @extend %rubik-400;
    margin-bottom: 42px;
  }
  .star-line{
    margin-bottom: 40px;
  }
  &__button-box{
    display: flex;
    align-items: center;
    position: relative;
  }
  &__btn{
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
  }
  &__cart-btn,
  &__heart-btn{
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
      background-color: #a3bbc8;
      path{
        fill: #fff;
      }
    }
  }
  &__cart-btn{
    margin-right: 11px; 
  }
}

.cart-btn--active{
  width: 208px;
  height: 50px;
  background-color: #a3bbc8;
  border-radius: 5px;
  position: absolute;
  &::before{
    content: "add to cart";
    text-transform: uppercase;
    font-size: 15px;
    @extend %rubik-400;
    color: #fff;
    letter-spacing: 0.075em;
  }

  svg{
    display: none;
  }
}

.product-detail{
  padding-top: 120px;
  &__inner{
    display: flex;
  }
  &__slide{
    width: 550px;
    margin-right: 70px;
  }
  &__content{
    width: 540px;
  }
  &__title{
    font-size: 40px;
    color: #333333;
    @extend %rubik-400;
    margin: 30px 0 25px;
  }
  &__price{
    font-size: 30px;
    display: block;
    color: #333333;
    @extend %rubik-400;
    margin-bottom: 40px;
  }
  &__text{
    color: #243f4d;
    line-height: 30px;
    @extend %rubik-400;
    margin-bottom: 35px;
  }
  .star-line{
    margin-bottom: 40px;
  }
  &__form{
    margin-bottom: 55px;
  }
  &__btn{
    width: 208px;
    height: 50px;
    font-size: 15px;
    background-color: #a3bbc8;
    border-radius: 5px;
    letter-spacing: 0.075em;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 15px;
  }
  input{
    padding: 0;
  }
  &__tabs{
    padding-top: 75px;
  }
  &__tabs-top{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }
  &__top-item{
    width: 240px;
    height: 50px;
    background-color: #edf1f4;
    color: #243f4d;
    border-radius: 5px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    & + .product-detail__top-item{
      margin-left: 13px;
    }
  }
  &__top-item--active{
    color: #fff;
    background-color: #a3bbc8;
  }
  &__content-item{
    display: none;
    &.product-detail__content-item--active{
      display: block;
    }
  }
  &__content-description{
    line-height: 30px;
    color: #243f4d;
    @extend %rubik-400;
  }
  &__related{
    padding-top: 130px;
  }
  &__related-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
  }
  &__related-title{
    font-size: 36px;
    @extend %dmsans-700;
    color: #243f4d;
  }
  &__related-buttons{
    display: flex;
  }
  &__related-btn{
    width: 50px;
    height: 50px;
    border: 2px solid #edf1f4;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    &:hover{
      border-color: #a3bbc8;
    }
  }
  &__related-item{
    margin: 30px 0;
  }
}

.prev-btn,
.next-btn{
  display: block;
  margin: 0 auto;
}

.related-prev{
  margin-right: 20px;
}

.slick-slide{
  margin: 0 10px;
}

.jq-number__field {
  width: 148px;
  border: 1px solid #a3bbc8;
  transform: translateY(1px);
  padding: 0;
}

.jq-number__field input {
  width: 100%;
  height: 50px;
  padding: 0;
  border: none;
  outline: none;
  @extend %rubik-400;
  color: #333;
  text-align: center;
}

.jq-number {
  padding: 0;
  position: relative;
}

.jq-number__spin{
  position: absolute;
  padding: 0;
  width: 48px;
  height: 50px;
  cursor: pointer;
  top: 27px;
  transform: translateY(-50%);
}

.jq-number__spin.minus{
  left: 0px;
  border-right: 1px solid #a3bbc8;
}

.jq-number__spin.plus{
  right: 0px;
  border-left: 1px solid #a3bbc8;
}

.jq-number__spin::after{
  content: "";
  position: absolute;
  top: 25px;
  left: 21px;
  width: 6px;
  height: 1px;
  background-color: #333;
}

.jq-number__spin.plus::after{
  content: "";
  position: absolute;
  top: 25px;
  left: 20px;
  width: 9px;
  height: 1px;
  background-color: #333;
}

.jq-number__spin.plus::before{
  content: "";
  position: absolute;
  top: 21px;
  left: 24px;
  width: 1px;
  height: 9px;
  background-color: #333;
}

.product-slide{
  display: flex;
  &__thumb{
    width: 138px;
    margin-right: 25px;
  }
  &__thumb-item{
    width: 138px;
    height: 160px;
    border: 2px solid #f2f2f2;
    margin-bottom: 15px;
    overflow: hidden;
    cursor: pointer;
    img{
      width: 138px;
      height: 160px;
      object-fit: contain;
    }
  }
  &__big{
    width: 387px;
  }
  &__big-item{
    width: 387px;
    height: 530px;
    border: 2px solid #f2f2f2;
    padding: 60px;
  }
}

.product-info{
  &__item{
    display: flex;
    color: #243f4d;
    line-height: 30px;
    @extend %rubik-400;
  }
}



@import 'media';