.experience{
  padding: 120px 0;
  display: flex;
  &__img{
    width: 570px;
    height: 675px;
    object-fit: cover;
    margin-right: 45px;
  }
  &__info{
    padding-top: 85px;
    width: 550px;
  }
  &__info-box{
    display: flex;
    margin-bottom: 50px;
  }
  &__info-num{
    font-size: 140px;
    line-height: 32px;
    @extend %poppins-700;
    color: #a3bbc8;
    margin-right: 30px;
  }
  &__info-text{
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-top: -17px;
  }
  &__title{
    @extend %dmsans-700;
    color: #243f4d;
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 52px;
  }
  &__text{
    @extend %rubik-400;
    line-height: 30px;
    color: #243f4d;
    padding-bottom: 65px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      background-color: #ebeef3;
      height: 2px;
      max-width: 500px;
      width: 100%;
      bottom: 0;
      left: 0;
    }
  }
  &__items{
    padding-top: 40px;
    display: flex;
  }
  &__item{
    display: flex;
  }
  &__item + .experience__item{
    margin-left: 55px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      width: 1px;
      height: 80px;
      background-color: #e6eaf0;
      left: -25px;
      top: -8px;
    }
  }
  &__item-box{
    @extend %dmsans-700;
    padding-left: 20px;
  }
  &__item-title{
    font-size: 36px;
    line-height: 38px;
    color: #243f4d;
    margin-bottom: 5px;
  }
  &__item-text{
    line-height: 17px;
    color: #4c4c4c;
  }
}

@media(max-width: 1200px){
  .experience{
    &__img{
      width: 40%;
    }
    &__item + .experience__item {
      margin-left: 45px;
    }
  }
}

@media(max-width: 900px){
  .experience{
    padding: 30px 0;
    &__info {
      padding-top: 15px;
    }
    &__info-text {
      line-height: 15px;
      margin-top: -5px;
    }
    &__info-box {
      margin-bottom: 20px;
    }
    &__title {
      font-size: 30px;
      line-height: 25px;
      margin-bottom: 15px;
    }
    &__info-num {
      font-size: 70px;
      line-height: 32px;
      margin-right: 12px;
    }
    &__text{
      padding-bottom: 30px;
    }
    &__img{
      width: 20%;
      height: 400px;
      margin-right: 20px;
    }
    &__item + .experience__item::before {
      left: -15px;
      top: -15px;
    }
    &__items {
      padding-top: 30px;
    }
    &__item-box {
      padding-left: 10px;
    }
    &__item-title {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 5px;
    }
    &__item + .experience__item {
      margin-left: 30px;
    }
  }
}

@media(max-width: 600px){
  .experience{
    &__img{
      display: none;
    }
  }
}

@media(max-width: 500px){
  .experience{
    &__items {
      display: block;
    }
    &__item + .experience__item::before {
      display: none;
    }
    &__item + .experience__item {
      margin-left: 0;
      margin-top: 15px;
    }
    &__text {
      padding-bottom: 15px;
    }
    &__items {
      padding-top: 15px;
    }
  }
}
