.header{
  padding: 40px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.logo{
  display: flex;
  align-items: center;
  &__text{
    padding-left: 15px;
    font-size: 36px;
    line-height: 58px;
    color: $accent;
  }
}

.menu{
  &__btn{
    display: none;
  }
  &__list{
    display: flex;
    margin-left: 150px;
  }
  &__list-item + .menu__list-item{
    padding-left: 35px;
  }
  &__list-link{
    font-size: 15px;
    line-height: 12px;
    color: $accent;
  }
}

.user-nav{
  display: flex;
  &__search{
    position: relative;
    min-width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;
    margin-right: 25px;
  }
  &__profile{
    position: relative;
    min-width: 50px;
    height: 50px;
    background-color: #a3bbc8;
    border-radius: 50%;
  }
  &__search img,
  &__profile img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__box{
    display: flex;
    align-items: center;
    margin-right: 25px;
    border-radius: 50px;
    padding: 0 22px;
    background-color: #fcd7b6;
    position: relative;
  }
  &__box-inner{
    position: relative;
    margin: 0 9px;
  }
  &__box-inner + .user-nav__box-inner::before{
    content: "";
    height: 32px;
    width: 1px;
    background-color: #fde7d3;
    position: absolute;
    top: 8px;
    right: 55px;
  }
  &__link-img{
    margin: 0 auto;
    padding: 16px;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 7px;
    right: 6px;
    text-align: center;
    font-size: 10px;
    line-height: 17px;
    color: #243f4d;
    background-color: #fff;
    @extend %dmsans-400;
  }
}

@media (max-width: 1300px){
  .menu{
    &__list{
      margin-left: 40px;
    }
  }
}

@media (max-width: 1100px){
  .menu{
    &__list{
      margin-left: 0px;
    }
    &__list-item +.menu__list-item {
      padding-left: 20px;
    }
  }
  .user-nav{
    &__search{
      margin-right: 10px;
    }
    &__box{
      margin-right: 10px;
    }
  }
}

@media (max-width: 900px){
  .menu{
    order: 1;
    margin-left: 40px;
    &__list{
      transform: translateY(-200%);
      position: absolute;
      top: 100px;
      width: 100%;
      left: 0;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transition: all .3s;
      background-color: #fff;
      &.menu__list--active{
        transform: translateY(0%);
        transition: all .3s;
      }
    }
    &__list-item +.menu__list-item{
      padding-left: 0px;
    }
    &__list-item{
      width: 100%;
      text-align: center;
    }
    &__list-link{
      padding: 12px 0;
      display: block;
    }
    &__btn{
      width: 30px;
      height: 21px;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0;
      cursor: pointer;
      span{
        width: 100%;
        height: 3px;
        background-color: #7b7b7b;
      }
      &::after,
      &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #7b7b7b;
      }
      &::before{
        top: 0;
      }
      &::after{
        bottom: 0;
      }
    }
  }
  .user-nav{
    margin-left: auto;
  }
}

@media (max-width: 600px){
  .header{
    padding: 10px 0;
  }
  .menu {
    order: 0;
    &__list{
      top: 130px;
    }
  }
  .user-nav{
    width: 100%;
    justify-content: flex-end;
    &__box{
      padding: 0 10px;
    }
  }
}