.footer-top{
  padding: 80px 0 75px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dae4e9;
  &__logo{
    align-items: center;
    margin-bottom: 26px;
  }
  &__contacts{
    width: 270px;
    margin-right: 30px;
  }
  &__address,
  &__phone,
  &__email{
    display: block;
  }
  &__address,
  &__text{
    line-height: 24px;
    @extend %rubik-400;
    color: $footer-link-default;
    margin-bottom: 5px;
  }
  &__nav{
    width: 270px;
    margin-right: 30px;
  }
  &__title{
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
    margin-bottom: 27px;
    padding-top: 20px;
  }
  &__text{
    margin-bottom: 35px;
  }
  &__item-form{
    max-width: 270px;
  }
  &__form{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__form-input{
    width: 170px;
    height: 40px;
    padding: 0 15px;
    border: none;
    background-color: #fef7f0;
    @extend %dmsans-400;
    font-size: 12px;
    &::placeholder{
      color: #234969;
    }
  }
  &__form-btn{
    height: 40px;
    padding: 0 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
    @extend %dmsans-400;
    background-color: #a3bbc8;
    color: #fff;
  }
}

.footer-bottom{
  padding: 35px 0 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  &__copy{
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
    color: $footer-link-default;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item + .footer-bottom__item{
    padding-left: 15px;
  }
  &__item + .footer-bottom__item::before{
    content: "";
    padding-left: 15px;
    border-left: 1px solid $footer-link-default;
  }
}

@media (max-width: 1100px){
  .footer-top{
    &__nav{
      width: 150px;
    }
  }
}

@media (max-width: 900px){
  .footer-top{
    padding: 40px 0;
    flex-wrap: wrap;
    justify-content: start;
    &__item-form{
      max-width: 100%;
    }
    &__title{
      padding-top: 25px;
      margin-bottom: 15px;
    }
    &__form{
      justify-content: start;
    }
    &__text{
      margin-bottom: 20px;
    }
  }
  .footer-bottom{
    padding: 20px 0;
  }
}

@media (max-width: 690px){
  .footer-top{
    &__contacts{
      width: 100%;
    }
  }
}

@media (max-width: 620px){
  .footer-bottom{
    justify-content: center;
    &__copy{
      width: 100%;
      text-align: center;
    }
  }
}

@media (max-width: 400px){
  .footer-bottom{
    &__copy{
      width: 195px;
      line-height: 24px;
    }
  }
}