.partners{
  background-color: #fef7f0;
  padding: 90px 0 90px;
  &__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item-img{
    margin: 11px;
  }
}

@media(max-width: 900px){
  .partners{
    padding: 45px 0 45px;
  }
}