.products{
  padding: 75px 0 50px;
  &__title{
    text-align: center;
    font-size: 36px;
    line-height: 30px;
    color: #191919;
    @extend %dmsans-700;
    margin-bottom: 25px;
  }
  &__filter{
    text-align: center;
    margin-bottom: 82px;
  }
  &__filter-btn{
    border: none;
    background-color: transparent;
    color: #8b8b8b;
    @extend %dmsans-700;
    cursor: pointer;
  }
  &__filter-btn + .products__filter-btn{
    margin-left: 20px;
  }
  &__filter-btn--active{
    color: #292929;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 28px;
    margin-bottom: 185px;
  }
  &__item{
    height: 380px;
    padding: 25px 15px;
    border-radius: 5px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    &.products-item--list{
      display: block;
    }
  }
  &__item-img{
    margin-top: 27px;
  }
  &__item-content{
    text-align: center;
  }
  &__item-title{
    color: #243f4d;
    line-height: 40px;
    @extend %dmsans-500;
  }
  &__item-price{
    color: #a3bbc8;
    @extend %dmsans-700;
  }
  &__item-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 270px;
  }
  &__hover{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(300%);
    transition: all .3s;
  }
  &__hover-link{
    position: relative;
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    path{
      fill: #a8becb;
    }
  }
  &__hover-link{
    display: inherit;
    path{
      transition: all .3s;
    }
  }
  &__item:hover{
    .products__hover{
      transform: translateY(0);
    }
  }
  &__hover-link:hover{
    background-color: #a3bbc8;
    path{
      fill: #fff;
    }
  }
  &__hover-link svg{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__hover-link + .products__hover-link{
    margin-left: 16px;
  }
}

.products-content{
  display: flex;
  &__inner{
    display: flex;
    justify-content: center;
    width: 870px;
    height: 390px;
    background-color: #feefe2;
  }
  &__inner + .products-content__inner {
    margin-left: 30px;
  }
  &__inner-box{
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__inner-img{
    margin-top: -185px;
  }
  &__info{
    max-width: 340px;
    margin-left: 20px;
    color: #243f4d;
  }
  &__info-title{
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 15px;
    @extend %dmsans-700;
  }
  &__info-text{
    line-height: 30px;
    @extend %rubik-400;
    margin-bottom: 25px;
  }
  &__info-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 180px;
    background-color: transparent;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    color: $accent;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    padding: 22px 20px;
    path{
      fill: $accent;
    }
  }
}

@media(max-width: 1100px){
  .products{
    &__items{
      margin-bottom: 160px;
    }
  }
  .products-content{
    &__inner{
      height: 240px;
    }
  }
}

@media(max-width: 1000px){
  .products{
    padding: 40px 0 10px;
    &__items{
      margin-bottom: 60px;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 20px;
    }
    &__filter{
      margin-bottom: 35px;
    }
  }
  .products-content{
    display: block;
    &__inner{
      width: 100%;
      margin-top: 10px;
    }
    &__inner + .products-content__inner {
      margin-left: 0px;
    }
    &__inner-box{
      justify-content: center;
    }
    &__inner-img{
      width: 100px;
      margin-top: 0;
    }
  }
}

@media(max-width: 800px){
  .products{
    &__items{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media(max-width: 620px){
  .products-content{
    &__info{
      margin-left: 10px;
    }
    &__inner{
      height: 220px;
    }
    &__inner-img{
      display: none;
    }
    &__info-text{
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
}

@media(max-width: 500px){
  .products{
    &__items{
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 20px;
    }
    &__filter-btn{
      margin: 0 10px 10px;
    }
  }
}